{% extends "/base.twig" %}

{% block head %}
	<link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block title %}
	<title>TeamSync - Tableau de bord</title>
{% endblock %}

{% block content %}
	{% include "/layouts/dashHeader.twig" %}
	<section class="min-h-screen">
		{% include "/layouts/svgBackground.twig" %}
		<div class="ml-20 mt-6 flex flex-col justify-center items-start">
			<p>Entreprise :
				<span class="font-bold">{{user.name}}</span>
			</p>
			<p>Nombre d'employés :
				<span class="font-bold">{{employes | length}}</span>
			</p>
		</div>

		<div class="mx-auto container flex flex-wrap gap-5 items-start justify-center my-10">
			{# Carte vide pour ajouter un projet #}
			<div id="addEmployeeCard" class="addEmployeeCard w-52 h-56 flex flex-col justify-center items-center bg-white border border-gray-200 rounded-lg hover:shadow-md">
				<svg class="w-20 h-20 text-gray-400 cursor-pointer" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					<path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-11.25a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"></path>
				</svg>
			</div>

			{% include "/layouts/addEmployee.twig" %}
			{% include "/layouts/editEmployee.twig" %}

			{# Carte employés #}
			{% for employe in employes %}
				{% include "/layouts/deleteModal.twig" %}
				<div class="relative w-52 min-h-fit bg-white border border-gray-200 rounded-lg hover:shadow-md">
					<div class="flex justify-end px-4 pt-4">
						<button class="dropdownButton inline-block text-gray-500 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg text-sm p-1.5" type="button">
							<span class="sr-only">Open dropdown</span>
							<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
							</svg>
						</button>
						<!-- Dropdown menu -->
						<div class="dropdownE shadow-md z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg w-44">
							<ul class="py-2">
								<li>
									<div data-employee='{{employe | json_encode | escape}}' data-employeeid={{employe.id}} class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" onclick="openModalModify(this)">Modifier</div>
								</li>
								<li>
									<a href="/blame/{{employe.id}}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Blâmer</a>
								</li>
								<li>
									<a href="#" data-employeeid={{employe.id}} class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100" onclick="confirmDelete(this)">Supprimer</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="flex flex-col items-center px-4 pb-4">
						<img class="w-24 h-24 mb-3 rounded-full shadow-lg object-cover" {% if employe.photo %} src="/photo/{{employe.photo}}" {% else %} src="/img/avatar.svg" {% endif %} alt="{{employe.nom}}"/>
						<h5 class="mb-1 text-xl font-medium text-gray-900">{{employe.nom}}</h5>
						<span class="text-sm text-gray-500">{{employe.fonction}}</span>
						<span class="absolute flex items-center justify-center top-4 left-4 w-8 h-8 rounded-full font-medium ring-2 {% if employe.blame == 1 %}text-orange-400 ring-orange-400{% elseif employe.blame == 2 %} text-red-400 ring-red-400{% else %} text-green-400 ring-green-400{% endif %}">{{employe.blame}}</span>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}

{% block script %}
	<script src="/js/dashboard.js"></script>
{% endblock %}